/* globals*/




$xsmall-only: "screen and (max-width: 500px)";
$tiny-up: "screen and (min-width: 400px)";
$small-up: "screen and (min-width: 768px)";
$medium-up: "screen and (min-width: 860px)";
$large-up: "screen and (min-width: 992px)";
$xlarge-up: "screen and (min-width: 1170px)";

$gutter-width: 9px;

$brand-primary: #00aaff;
$brand-secondary: #00aaff;
$brand-third: #00aaff;
$brand-black : #000;
$body-color: #1a1a1a;
$brand-dark : #1a1a1a;
$brand-grey : #808080;
$light-grey : #f9f9f9;
$fr : 'Tele2 Slab Regular' !important;
$fb : 'Tele2 Slab Bold' !important;
$fh : 'Tele2 Slab Heavy' !important;

$gut : 18px;
$def : 9px;